reset * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*GLOBALE VARIABLER*/
:root {
  /*FARGER*/
  --bakgrunn: #fefcee;
  --tekst1: #0c194c;
  --tekst2: #33489e;
  --tekst3: #fefcee;
  --mappe_1: #71c7f3;
  --mappe_2: #439fd9;
  --mappe_3: #3781af;
  --mappe_4: #2b6386;
  --mappe_5: #25526e;
  --mappe_6: #1d3f54;

  /*TEKST*/
  --hero: var(--tekst1);
  --h1: var(--tekst3);

  /*MARGIN*/
  scroll-behavior: smooth;
}

/*FONT*/
@font-face {
  font-family: small-text-light;
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Light"), url("helvetica-light-587ebe5a59211.woff") format("woff");
}
@font-face {
  font-family: under-oversrift;
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("Helvetica-Bold.woff") format("woff");
}

@font-face {
  font-family: small-text-mørk;
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("Helvetica.woff") format("woff");
}
@font-face {
  font-family: text;

  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("Helvetica.woff") format("woff");
}

@font-face {
  font-family: small-text-kursiv;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Helvetica-Oblique.woff") format("woff");
}
h2 {
  font-family: text;
  font-size: 1.5rem;
}
h3 {
  font-family: text;
  text-transform: uppercase;
}
h4 {
  font-family: text;
  text-transform: uppercase;
  font-size: 1.5rem;
}
p {
  font-family: small-text-light;
  color: var(--tekst2);
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.2;
}

h1 {
  font-family: "miller-text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.8rem;
  color: var(--tekst1);
}
.hero h1 {
  font-size: 4.2rem;
  text-align: center;
  color: var(--tekst1);
}
.hero p {
  font-family: text;
  color: var(--tekst2);
  text-align: center;
}

/*SECTIONS*/

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--bakgrunn);
}

header {
  margin: 7vh 3vh 7vh 3vh;
}
/* LINKS */
a {
  font-family: text;
  text-transform: uppercase;
  text-decoration: none;
}
.menu a {
  font-family: small-text-kursiv;
  font-size: 0.8rem;
  color: var(--tekst2);
}
.menu a:hover {
  color: var(--tekst1);
  transform: scale(1.1);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .menu a {
    font-size: 1.2rem;
  }
  header {
    margin: 6vh 15vh 10vh 15vh;
  }
}
/*STYLE*/
hr {
  border: none;
  border-top: 1px solid var(--tekst3);
  width: 100%;
  margin: 0 auto;
}
.circle {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid var(--tekst2);
  border-radius: 50px;
}
.circle_2 {
  padding: 10px 20px;
  border: 2px solid var(--tekst3);
  border-radius: 50px;
  color: var(--tekst3);
  margin: 0 22vh 0 22vh;
}

.scroll_down img {
  width: 8vh;
  border: 2px solid var(--tekst2);
  border-radius: 70px;
  transition: all 0.3s ease;
  margin: 0 auto;
}
.scroll_down:hover {
  transform: scale(1.1);
}
/*footer*/
.footer_icon {
  width: 3vh;
  margin-right: 0.5vh;
}
.footer_contact {
  margin: 0;
  text-align: center;
}
.footer_info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 1vh auto 0 auto;
}

.footer_info img {
  justify-content: start;
}
#scroll_up {
  rotate: 180deg;
}
.grid_1-1 .scroll_down {
  align-self: end;
  justify-self: end;
}
footer hr {
  border-top: 1px solid var(--tekst2);
  margin-top: 10vh;
}
.footer_contact h3 {
  font-family: under-oversrift;
  color: var(--tekst2);
  text-align: start;
  font-size: 1rem;
}
.footer_contact a {
  font-family: small-text-light;
  color: var(--tekst2);
  font-size: 0.8rem;
}
footer .grid_1-1 {
  margin: 2vh 2vh 5vh 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 1024px) {
  .footer_contact h3 {
    font-size: 1.2rem;
  }
  .footer_contact a {
    font-size: 1rem;
  }
  footer .grid_1-1 {
    margin: 5vh 20vh 5vh 20vh;
    display: grid;
    padding: 0;
  }
}
