/*FORSIDE*/
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10vh;
  margin-left: 2vh;
  margin-right: 2vh;
  row-gap: 5vh;
}
.grid_1-1-1-1 img {
  width: 15vh;
  margin: 0 auto;
}
.bilde1 {
  grid-column: 2 / span 1;
}
.bilde2 {
  grid-column: 3 / span 1;
}

.bilde3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.bilde4 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.bilde5 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.bilde6 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
.bilde1:hover,
.bilde2:hover,
.bilde3:hover,
.bilde4:hover,
.bilde5:hover,
.bilde6:hover {
  scale: 1.2;
}
.hero p {
  margin-top: -5vh;
  margin-bottom: 15vh;
}
.forside_p {
  margin-right: 10vh;
  margin-left: 10vh;
}

.folder_caption {
  font-family: text;
  font-size: 0.8rem;
  text-align: center;
  color: var(--tekst1);
}
.standing_folder {
  margin-top: 15vh;
}
.standing_folder img {
  width: 30vh;
  margin: 0 auto;
}
.standing_folder:hover {
  scale: 1.05;
}

@media (min-width: 1024px) {
  .standing_folder img {
    width: 35vh;
    margin: 0 auto;
  }
  .standing_folder {
    margin-top: -0.5vh;
  }
  .hero {
    margin-top: -12vh;
  }
  .hero h1 {
    font-size: 8rem;
  }
  .hero p {
    margin-top: -11vh;
    margin-bottom: 8vh;
  }
  .forside_p {
    margin-right: 45vh;
    margin-left: 45vh;
  }
  p {
    font-size: 1.3rem;
  }
  .grid_1-1-1-1 {
    margin-top: 10vh;
    margin-left: 25vh;
    margin-right: 25vh;
  }
  .grid_1-1-1-1 img {
    width: 20vh;
  }
}
/*OM MEG*/
.grid_1-1 {
  display: grid;
}
.h1_col {
  grid-row: 1 / span 1;
}
.portrett_col {
  grid-row: 2 / span 1;
}
.p_col {
  margin-top: 4vh;
  grid-row: 3 / span 1;
  text-align: center;
}
#bilde img {
  width: 40vh;
  margin: 0 auto;
  border: 2vh solid var(--tekst3);
}
.main_ommeg {
  width: auto;
  background-color: var(--mappe_3);
  border-radius: 50px;
  transition: all 0.3s ease;
  margin: -4vh 3vh 0 3vh;
  padding: 0 6vh 0 6vh;
}
.main_ommeg p {
  color: var(--tekst3);
  text-align: start;
  font-size: 1.1rem;
}
.main_ommeg h1,
h3 {
  text-align: center;
  color: var(--tekst3);
}
.h1_col h1:first-child {
  margin-top: 5vh;
  font-size: 3rem;
}

.h1_col h1:last-child {
  margin-top: -5vh;
  margin-bottom: 5vh;
  font-size: 1.5rem;
}
.col1 hr,
.col2 hr,
.col3 hr,
.col4 hr {
  margin-top: -2vh;
}
.italic {
  font-family: small-text-light;
  font-style: oblique;
}
.col1 .bold,
.col2 .bold {
  margin-top: -2vh;
}
.bold {
  font-weight: bold;
  font-family: text;
}
.cv_info {
  margin-top: -1.7vh;
}
.col4 {
  margin-bottom: 10vh;
}
@media (min-width: 1024px) {
  .main_ommeg {
    background-image: url(../bilder/folder_ommeg.svg);
    background-color: transparent;
    background-size: cover;
    margin-top: -15vh;
  }
  .grid_1-1 {
    padding: 14vh 12vh 20vh 12vh;
    grid-template-columns: 1fr 1fr;
  }
  .h1_col {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-left: 5vh;
  }
  .p_col {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-right: 10vh;
    padding-left: 5vh;
    margin-top: -5vh;
  }
  .col1 {
    grid-column: 2 / span 1;
    grid-row: 3;
    padding-top: 2vh;
    padding-right: 5vh;
    padding-left: 10vh;
  }
  .col_container {
    grid-column: 1 / span 1;
    padding-right: 10vh;
    padding-left: 5vh;
    padding-top: 1.5vh;
  }
  .col2 {
    grid-row: 3;
  }
  .col3,
  .col4 {
    padding-top: 5vh;
  }

  .main_ommeg h1 {
    text-align: start;
  }
  .main_ommeg p {
    font-size: 1.4rem;
  }
  .main_ommeg h3 {
    font-size: 1.5rem;
    text-align: start;
  }
  .portrett_col {
    padding-top: 15vh;
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
  }
  #bilde img {
    width: 50vh;
  }
  .h1_col h1:first-child {
    font-size: 5rem;
  }

  .h1_col h1:last-child {
    font-size: 2.5rem;
    margin-top: -9vh;
  }
}
/*------------PORTFOLIO------------*/
.main_portfolio {
  margin-top: -5vh;
}
.informasjon_container {
  width: 100%;
  background-color: var(--mappe_2);
  transition: all 0.3s ease;
  z-index: 100;
  margin-top: -6.2vh;
  position: relative;
}
/*navigasjon*/
.tema_nav img {
  width: 140px;
  height: auto;
  z-index: 99;
  position: relative;
}
.tema_nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.tema1 {
  z-index: 98;

  margin-left: -9vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tema2 {
  z-index: 97;

  margin-left: -9vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tema3 {
  z-index: 96;

  margin-left: -9vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tema4 {
  z-index: 95;
  margin-left: -9vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tema1 a,
.tema2 a,
.tema3 a,
.tema4 a {
  z-index: 101;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: 0.7rem;
}

.tema1 a:hover,
.tema2 a:hover,
.tema3 a:hover,
.tema4 a:hover {
  transform: scale(0.9);
}
.tema1 img,
.tema2 img,
.tema3 img,
.tema4 img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
/*stylie*/
.informasjon_container h1 {
  color: var(--tekst3);
  text-align: center;
  padding-top: 7vh;
  font-size: 2.5rem;
}
.informasjon_container p {
  color: var(--tekst3);
  font-size: 1.1rem;
}
.col p {
  margin: 0vh 8vh 2vh 8vh;
}
.col ul {
  flex-direction: column;
  margin-left: 8vh;
}
.col li {
  font-family: small-text-light;
  color: var(--tekst3);
  margin-bottom: 2vh;
}
a p {
  color: var(--tekst3);
  margin-top: 1vh;
}

@media (min-width: 551px) {
  .tema_nav img {
    width: 180px;
  }
  .tema1 {
    margin-left: -11vh;
  }
  .tema2 {
    margin-left: -11vh;
  }
  .tema3 {
    margin-left: -11vh;
  }
  .tema4 {
    margin-left: -11vh;
  }
  .informasjon_container {
    margin-top: -7vh;
  }
}
@media (min-width: 620px) {
  .tema_nav img {
    width: 230px;
  }
  .tema1 {
    margin-left: -14vh;
  }
  .tema2 {
    margin-left: -16vh;
  }
  .tema3 {
    margin-left: -18vh;
  }
  .tema4 {
    margin-left: -20vh;
  }
  .informasjon_container {
    margin-top: -8vh;
  }
}
@media (min-width: 950px) {
  .tema_nav img {
    width: 250px;
  }
}

@media (min-width: 1024px) {
  /*navigasjon*/
  .tema_nav img {
    width: 400px;
  }
  .tema1 {
    margin-left: -24vh;
  }
  .tema2 {
    margin-left: -24vh;
  }
  .tema3 {
    margin-left: -24vh;
  }
  .tema4 {
    margin-left: -24vh;
  }
  .informasjon_container {
    margin-top: -13vh;
  }
  .tema1 a,
  .tema2 a,
  .tema3 a,
  .tema4 a {
    font-size: 1.2rem;
    margin-top: 2vh;
    justify-self: center;
    margin-right: 7vh;
    z-index: 101;
    pointer-events: auto;
  }

  .informasjon_container h1 {
    font-size: 4rem;
  }
  .informasjon_container p {
    font-size: 1.3rem;
  }
  .col li {
    font-size: 1.3rem;
  }

  .informasjon_container .grid_1-1 {
    padding: 2vh 10vh 5vh 10vh;
  }
}
/*--------TEMA_HOVED---------*/
#tema1 {
  background-color: var(--mappe_3);
  margin-top: -6.2vh;
}
.main_tema1 {
  margin-top: -5vh;
}
.main_tema1 hr {
  margin-top: -2vh;
  margin-bottom: 2vh;
  width: 80%;
}

@media (min-width: 1024px) {
  #tema1 {
    margin-top: -13vh;
  }

  .main_tema1 h3 {
    font-size: 1.9rem;
  }
  .p2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .img2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .grid_6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid_6 .p1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
  .grid_6 .p2 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 1;
  }
  .grid_6 .img1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .grid_6 .img2 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
  }
  .grid_6 .img3 {
    grid-column: 5 / span 2;
    grid-row: 2 / span 1;
  }
  a p {
    color: var(--tekst3);
    margin-top: -0.7vh;
  }
}
#tema2 {
  background-color: var(--mappe_4);
}

#tema3 {
  background-color: var(--mappe_5);
}

#tema4 {
  background-color: var(--mappe_6);
}
